
        <%- include("partials/header") %>
        <%- include('partials/navbar') %>

        <h1> This website is all about <%=stuff %> </h1>
        

        <!-- conditional statement  -->
        <% if(stuff === "cookie"){ %>
            <h2><%= stuff %></h2>
       <% } else { %>
        <p>I only eat salads!</p>
       <% } %>


 



 <%- include('partials/footer') %>