<%- include("partials/header") %>


    <div>
    <% data.forEach((person)=>{ %>
        <p><%= person.name %> is a <%= person.occupation %> at <%= person.company %></p>
    <% }) %> 
    
    </div>


        <script src="" async defer></script>
        
        <%- include('partials/footer') %>